.DS_Store
**/.DS_Store
Notebooks/elevation.tif
Codes/__pycache__/Hydro_LSTM.cpython-38.pyc
Codes/__pycache__/importing.cpython-38.pyc
Codes/__pycache__/LSTM.cpython-38.pyc
Codes/__pycache__/utils.cpython-38.pyc
